# Tor Control Port Password
# This password is used by the healthcheck to authenticate with the Tor control port
# Change this to a secure password if you want to use the Control Port anywhere else than localhost!!!
PASSWORD=password

# Optional: Enable periodic external healthcheck
# CHECK=true

# Optional: Enable debug mode for troubleshooting
# DEBUG=true
